@model LaTienda.VentaFromViewModel


@{
    ViewBag.Title = "Realizar Venta";
    var searchString = Model.ProductoViewModel?.Codigo.ToString() ?? "";

}

<h2>Realizar Venta</h2>

<div style="clear:both">

    <div>
        <div>

            @using (Html.BeginForm("BuscarProducto", "RealizarVenta", FormMethod.Get))
            {
                @Html.Hidden("venta_id", Model.Id)
                <p>
                    Código del Producto: @Html.TextBox("SearchString", searchString)
                    <input type="submit" value="Buscar" />
                </p>
            }
            <p>
                @Html.Label("Descripcion")
                @Html.DisplayFor(model => model.ProductoViewModel.Descripcion)
            </p>
            <div>
                <div>
                    <p>
                        @Html.Label("Marca")
                        @Html.DisplayFor(model => model.ProductoViewModel.MarcaViewModel.Descripcion)
                    </p>
                    <p>
                        @Html.Label("Rubro")
                        @Html.DisplayFor(model => model.ProductoViewModel.RubroViewModel.Descripcion)
                    </p>
                </div>

                @if (Model.ProductoViewModel != null)
                {
                    using (Html.BeginForm("BuscarStock", "RealizarVenta", FormMethod.Get))
                    {
                        @Html.Hidden("venta_id", Model.Id)
                        @Html.Hidden("producto_id", Model.ProductoViewModel.Id)
                        <div>
                            @Html.Label("Color")
                            @Html.DropDownList("Color_Id", new SelectList(ViewBag.Color_Id, "Id", "Descripcion"), htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.Label("Talle")
                            @Html.DropDownList("Talle_Id", new SelectList(ViewBag.Talle_Id, "Id", "Descripcion"), htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div>
                            <p>
                                <input type="submit" value="Buscar" />
                            </p>
                        </div>
                    }
                }
                @Html.Label("Stock")
                @Html.DisplayFor(model => model.StockViewModel.Cantidad)

                <br><br>
                @Html.Label("Precio")
                @Html.DisplayFor(model => model.ProductoViewModel.PrecioDeVenta)
            </div>

            @if (Model.StockViewModel != null)
            {
                using (Html.BeginForm("AgregarProducto", "RealizarVenta", FormMethod.Get))
                {
                    @Html.Hidden("venta_id", Model.Id)
                    @Html.Hidden("producto_id", Model.ProductoViewModel.Id)
                    @Html.Hidden("stock_id", Model.StockViewModel.Id)
                    @Html.Label("Cantidad")
                    <input id="cantidad" name="cantidad" type="number" min="1" max="@Model.StockViewModel.Cantidad" value="" />
                    <input type="submit" value="Agregar" />
                }
            }

            
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductoViewModel.Descripcion)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LineaDeVentaViewModels.First().Cantidad)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LineaDeVentaViewModels.First().PrecioDeVenta)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.StockViewModel.ColorViewModel.Descripcion)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.StockViewModel.TalleViewModel.Descripcion)
                    </th>

                </tr>

                @foreach (var item in Model.LineaDeVentaViewModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockViewModel.ProductoViewModel.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioDeVenta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockViewModel.ColorViewModel.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockViewModel.TalleViewModel.Descripcion)
                        </td>

                    </tr>
                }
            </table>
            

        </div>


    </div>
</div>







    @using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })




        @*<div class="form-group">
                @Html.LabelFor(model => model.Cliente_Id, "Cliente_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
