@model LaTienda.ComprobanteSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComprobanteSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoComprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoComprobante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
